#postcard {
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: transform 0.6s ease;
    cursor: pointer;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: var(--card-radius, 24px);
    overflow: hidden;
}

.back {
    transform: rotateY(180deg);
}

/* 회전 애니메이션 */
.rotate-360 {
    overflow: hidden;
    transform: rotateY(360deg);
}

.rotate-180 {
    transform: rotateY(180deg);
}

.rotate-0 {
    overflow: hidden;
    transform: rotateY(0deg);
}
